.bar-Verticale{
  background-color: black;
  width: 117px;
  height: 750px;
  position: absolute;
}
.bars-vs{
  display: flex;
  flex-direction: column;
  padding: 56px 16px;
  list-style-type: none;
}

.bar-ver {
  padding: 17px 10px}
a{
  color: white;
  text-decoration: none;
}

